{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<footer>
  <div class="grid-x grid-padding-x">
    <div class="cell large-3">
      <h4>Products</h4>
      <ul class="menu vertical">
        <li><a href="shared.html">Shared Hosting</a></li>
        <li><a href="vps.html">Cloud VPS</a></li>
        <li><a href="dedicated.html">Dedicated Servers</a></li>
      </ul>
    </div>
    <div class="cell large-3">
      <h4 class="company">Company</h4>
      <ul class="menu vertical">
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
    <div class="cell large-3">
      <h4 class="support">Support</h4>
      <ul class="menu vertical">
        <li><a href="#">Knowledgebase</a></li>
        <li><a href="#">Chat</a></li>
        <li><a href="#">Tickets</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
    </div>
    <div class="cell large-3">
      <div class="social">
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
        <a href="https://youtube.com/" target="_blank"><i class="fab fa-youtube fa-lg"></i></a>
        <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
      </div>
      <p class="copyright">
        &copy; ZEUS Hosting 2019.<br>All rights reserved.
      </p>
      <br>
      <img src="assets/img/truste-seal.png" alt="Trust seal">
    </div>
  </div>
</footer>

<script src="https://kit.fontawesome.com/0736fbfc73.js" crossorigin="anonymous"></script>
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
